@model MyDomainPasswordChange.UserViewModel

@{
    ViewData["Title"] = "Resetear contraseña";
}

<main role="main">
    <div class="container">
        <h1>Resetear contraseña de usuario</h1>
        <div>
            <h4>Datos del usuario</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Nombre completo
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DisplayName)
                </dd>
                <dt class="col-sm-2">
                    Descripción
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    Correo electrónico
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    Expira la contraseña
                </dt>
                <dd class="col-sm-10">
                    <partial name="_PasswordExpirationDateLabel" model="@Model.LastPasswordSet" />
                </dd>
            </dl>
        </div>
        <div>
            <h4>Nueva contraseña</h4>
            <hr />
            <p>La contraseña del usuario será reseteada por la que será mostrada a continuación. Esta contraseña es temporal y una vez que se inicie sesión en alguna PC del dominio se le solicitará cambiarla.</p>
            <div class="password-preview">
                <div class="passtitle">Contraseña generada</div>
                <hr />
                <div class="password">
                    @($"{Model.DisplayName.Split(' ')[0]}.12345*")
                </div>
            </div>
            <form method="post">
                <div class="row mt-5 mb-5">
                    <div class="col">
                        <a asp-action="Index"><i class="fas fa-arrow-alt-circle-left"></i> Regresar al listado</a>
                    </div>
                    <div class="col text-right mb-5">
                        <button class="btn btn-warning" type="submit"><i class="fas fa-undo-alt"></i> Resetear contraseña</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
